---
layout: layout
title: Another Game Development Blog
---

<div class="content">
  <div class="related">
    <ul>
      {% for post in site.posts %}
      <li style="text-align:left;list-style-type: none;margin-bottom: 1em;">
        <a href="{{ site.baseurl }}{{ post.url }}">
          {{post.title}}
        </a>
        <span style="float:right;">{{ post.date | date: "%e %B %Y" }}</span>
        <br>
        <span style="color:#888;">
          {% for tag in post.tags %}
            {{tag}},
          {% endfor %}
        </span>
      </li>
      {% endfor %}
    </ul>
  <br>
    <h2>Contact information</h2>
    Author: Miguel Edo<br>
    Email: <a href="mailto:miego.cvcv@gmail.com"> miego.cvcv@gmail.com</a>.
  </div>
</div>