:root {
  --text: #000;
  --text-alt: #333;
  --background: #fff;
  --background-alt: #eee;
}

body{
  color: var(--text);
  font-family: 'Roboto', sans-serif;
  background-color: var(--background);
  padding: 0px;
  margin: 40px auto;
  max-width: 650px;

  font-size: 1em;
  font-weight: 400;
  line-height: 1.6em;


}

/* La indentacion afecta tambien al texto de las imagenes 
article > p{
  text-indent: 1.5em;
}

article > p::first-letter{
  font-size: 180%;
}
*/

h1{ /*Web title*/
  color: var(--text);
  font-size: 3.5rem;
  font-weight: 500;
  letter-spacing: -.01875rem;
  word-spacing: normal;
  line-height: 4.125rem;
  margin-top: 100px ;  
  margin-bottom: 50px ;  
  font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
}

h2{ /*Post / section title*/
  color: var(--text);
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: -.01875rem;
  word-spacing: normal;
  line-height: 2.5rem;
  margin-top: 40px ;  
  margin-bottom: 10px ;  
  font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
}

h3{ /*Level 1 title*/
  color: var(--text);
  font-size:  1.4rem;
  font-weight: 700;
}

h4{ /*Level 2 title*/
  color: var(--text);
  font-size: 1.2rem;
  font-weight: 500;
}

h5{ /*Level 1 subtitle*/
  color: var(--text-alt);
  font-size: 0.9rem;
  font-weight: 700;
  margin-block-start: 0em;
  margin-bottom: 40px;
}

h6{ /*Level 2 subtitle*/
  color: var(--text-alt);
  font-size: 0.8rem;
  font-weight: 400;
  margin-block-start: 0em;

}

a{color: var(--text);}
a:hover, a:active {
  text-decoration: none;
}

input{
  border-width: 0px 0px 1px 0px;
  border-color: var(--text);
  background-color: var(--background);
  color: var(--text-alt);
  outline: none;
  width: 30%;
  transition: width 0.2s;
}

::placeholder{
  color: var(--text);
}

input:focus{
  width: 100%;
}


@media print {
  .dontprint{ display: none; }
}


/*  CODE HIGHLIGHT  */
pre{
  background-color: var(--background-alt);
  padding: 20px;
}

code{
  font-family: 'Roboto Mono', monospace;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1em;
}

.codehilitetable{
  margin: 0px;
  width: 100%;
}

.linenos{
  color: var(--text-alt);
  text-align: center;
  padding: 7px;
}

.language-plaintext{
  background-color: var(--background-alt);
  color: var(--text);
  padding: 0px 3px 2px 3px;
}


/* IMAGES */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.pixel{
  image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges;          /* Firefox                        */
  image-rendering: -o-crisp-edges;            /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: pixelated;                 /* Chrome */
  image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}
blockquote{
  color: var(--text-alt);
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.6em;
}

table{
  margin: auto;
  border-collapse: collapse;
}
td, th{
  padding: 3px 10px;
}
th {
    border-bottom-style: solid;
    border-width: 1px;
}
img + em { 
  color: var(--text-alt);
  font-size: 0.8rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1rem;
  margin-top: 5px;
  display: inline-block;
}

hr{
  border-width: 0px 0px 1px 0px;
  border-color: var(--text-alt);
}

pre {
  white-space: pre-wrap;
}

.attention.admonition{
  background-color: rgb(255, 190, 190);
}
.attention .admonition-title {
  background-color: rgb(187, 34, 34);
}

.admonition{
  padding: 5px 0px 5px 20px;
}

.admonition-title{
  font-weight: 600;
  color: white;
  margin: -5px 0px -5px -20px;
  padding: 5px 0px 5px 20px;
}