:root {
  --black: rgba(0,0,0,1);
  --gray: rgba(0,0,0,0.8);
  --white: rgba(255,255,255,1);
}

h1, h2, h3, h4, body, a{  color: var(--black);}
h5, h6, ::placeholder, input{  color: var(--gray);}

body{
  font-family: 'Roboto', sans-serif;
  background-color: var(--white);
  padding: 0px;
  margin: 40px auto;
  max-width: 650px;

  font-size: 1em;
  font-weight: 400;
  line-height: 1.6em;
}

h1{ /*Web title*/
  font-size: 3.5rem;
  font-weight: 500;
  font-style: normal;
  line-height: 4.125rem;
  letter-spacing: -.01875rem;
  font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
}

h2{ /*Post / section title*/
  font-size: 2.5rem;
  font-weight: 500;
}

h3{ /*Level 1 title*/
  font-size:  1.4rem;
  font-weight: 700;
}

h4{ /*Level 2 title*/
  font-size: 1.2rem;
  font-weight: 500;
}

h5{ /*Level 1 subtitle*/
  font-size: 0.9rem;
  font-weight: 700;
  margin-block-start: 0em;
  margin-bottom: 40px;
}

h6{ /*Level 2 subtitle*/
  font-size: 0.8rem;
  font-weight: 400;
  margin-block-start: 0em;
}

a:hover, a:active {
  text-decoration: none;
}

input{
  border-width: 0px 0px 1px 0px;
  outline: none;
}

input:focus{
  border-color: transparent;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@media print {
  .dontprint{ display: none; }
}