body{
  color: #444;
  background-color: #EEE;
  padding: 0px;
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6em;
  font-size: 18px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.date{ float:right; }

@media print {
  .dontprint{ display: none; }
}