<!DOCTYPE HTML>

<html>

  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-91WYMZK8X7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-91WYMZK8X7');
    </script>

    <link href="{{ site.baseurl }}/assets/css/BMFW.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/assets/css/vs.css" rel="stylesheet">
    <link rel="alternate" type="application/rss+xml" href="{{ site.baseurl }}/feed.xml">

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {
          inlineMath: [['$','$'], ['\\(','\\)']],
          processEscapes: true
        }
      });
      </script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="edoelas" />
    <title>{{ page.title }}</title> 
  </head>
  
  <body>
    <header>
      <h1>{{ page.title }}</h1>
    </header>
    <section>
      {{ content }}
    </section>
  </body>
  
</html>
